<div class="modal-header">
    <h5 class="modal-title" id="cabeceraModal"> {{ 'modales.editSchedule' | translate }} </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div><!-- Cierra <div class="modal-header"> -->


<div class="modal-body">

    <app-horario-edit [zona]="generalService.modalParameters.zona"></app-horario-edit>

</div><!--Cierra <div class="modal-body"> -->


<div class="modal-footer">
    
    <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">{{ 'general.cancel' | translate }}</button>
    <button type="button" (click)="guardar()" class="btn btn-success btn-lg">{{ 'general.save' | translate }}</button>

</div><!-- Cierra <div class="modal-footer">-->